{
  "openapi": "3.1.0",
  "info": {
    "title": "DUPR Backend APIs",
    "description": "Internal RESTful APIs to access DUPR ratings, users and provide matches.",
    "version": "v1.0.0"
  },
  "servers": [{ "url": "https://api.dupr.gg" }],
  "paths": {
    "/user/{version}/settings": {
      "get": {
        "tags": ["User"],
        "operationId": "getSettings",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMapStringString"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["User"],
        "operationId": "updateSettings",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserSettingsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/{version}/profile": {
      "get": {
        "tags": ["User"],
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperUserResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["User"],
        "operationId": "updateProfile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PlayerProfileRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperUserResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/{version}/preferences": {
      "put": {
        "tags": ["User"],
        "operationId": "updatePreferences",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/{version}/lucra-connect": {
      "put": {
        "tags": ["User"],
        "operationId": "updateLucraConnection",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserLucraRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/subscription/checkout/session": {
      "put": {
        "tags": ["Subscriptions Controller"],
        "operationId": "createCheckoutSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/social/{version}/login": {
      "get": {
        "tags": ["Social Media"],
        "operationId": "getLoginDetail",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Social Media"],
        "operationId": "updateSocialLoginDetails",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuthProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/media/{version}/image": {
      "put": {
        "tags": ["Media"],
        "operationId": "upload",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMediaResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/media/{version}/document": {
      "put": {
        "tags": ["Media"],
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMediaResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/match/{version}/save": {
      "put": {
        "tags": ["Matches"],
        "operationId": "saveMatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MatchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperLong" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/match/verified/{version}/save": {
      "put": {
        "tags": ["Matches"],
        "operationId": "saveVerifiedMatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifiedMatchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/match/verified/{version}/save/csv/add": {
      "put": {
        "tags": ["Matches"],
        "operationId": "saveVerifiedMatchCVS",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": { "type": "string", "format": "binary" }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/event/{version}/open-play/{id}/{version}/update": {
      "put": {
        "tags": ["Open Play"],
        "operationId": "update",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenPlayUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/event/{version}/edit": {
      "put": {
        "tags": ["Events"],
        "operationId": "editLeague",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EditLeagueRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperLeagueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/club/{version}/add": {
      "put": {
        "tags": ["Club"],
        "operationId": "addClub",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClubRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{id}/match/verified/{version}/save/csv/add": {
      "put": {
        "tags": ["Club"],
        "operationId": "saveVerifiedClubMatchCSV",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": { "type": "string", "format": "binary" }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/staff": {
      "get": {
        "tags": ["Club"],
        "operationId": "getAllStaffMembers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperStaffClubMemberResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Club"],
        "operationId": "updateStaffMembers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffClubMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/multiple/add": {
      "put": {
        "tags": ["Club"],
        "operationId": "addMemberMultipleAdmin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClubMemberAddRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperClubMemberManyResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/join": {
      "put": {
        "tags": ["Club"],
        "operationId": "addMemberRequest",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/invite": {
      "put": {
        "tags": ["Club"],
        "operationId": "inviteSingleMember",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InviteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperString" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/csv/add": {
      "put": {
        "tags": ["Club"],
        "operationId": "addMemberMultipleCsvAdmin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": { "type": "string", "format": "binary" }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/members/{version}/add": {
      "put": {
        "tags": ["Club"],
        "operationId": "addMemberAdmin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserListRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/match/{version}/save": {
      "put": {
        "tags": ["Club"],
        "operationId": "clubSaveMatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MatchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/{clubId}/match/{id}/{version}/edit": {
      "put": {
        "tags": ["Club"],
        "operationId": "editClubMatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MatchUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMatchResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/club/match/bulk": {
      "put": {
        "tags": ["Club"],
        "operationId": "saveVerifiedMultiClubMatchCSV",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": { "type": "string", "format": "binary" }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/brackets/{version}/save": {
      "put": {
        "tags": ["Brackets"],
        "operationId": "saveBracket",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BracketRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperLeagueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/brackets/{version}/edit": {
      "put": {
        "tags": ["Brackets"],
        "operationId": "editBracket",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EditBracketRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperLeagueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/brackets/director/{version}/edit/bracket_status": {
      "put": {
        "tags": ["Brackets"],
        "operationId": "editBracketStatus",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "leagueId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "bracketId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "UPCOMING",
                "IN_PROGRESS",
                "COMPLETE",
                "CANCELLED",
                "NOT_CONFIRMED",
                "INVITED",
                "CONFIRMED",
                "MATCH_BYE",
                "PENDING",
                "FORFEITED",
                "DELETED",
                "ONGOING",
                "SUSPENDED_TOS_13"
              ]
            }
          },
          {
            "name": "clubId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        }
      }
    },
    "/auth/{version}/device": {
      "put": {
        "tags": ["Authentication"],
        "operationId": "deviceRegistration",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeviceRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/ratings/bulk": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateRatingsCron",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/S3Object" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/ratings-provisional/batch": {
      "put": {
        "tags": ["Admin"],
        "operationId": "batchPlayerRatingProvisional",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPlayerRatingProvisionalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/rating/batch": {
      "put": {
        "tags": ["Admin"],
        "operationId": "batchPlayerRating",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPlayerRatingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/rating/{id}": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updatePlayerRating",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerRatingUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/player/bulk-reliability-score": {
      "put": {
        "tags": ["Admin"],
        "operationId": "bulkReliabilityScore",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": { "type": "string", "format": "binary" }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/unclaim": {
      "put": {
        "tags": ["Admin"],
        "operationId": "unclaimUser",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DynamicUserIdentityType" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/signup": {
      "put": {
        "tags": ["Admin"],
        "operationId": "signup",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SignUpRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperString" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/signup/batch": {
      "put": {
        "tags": ["Admin"],
        "operationId": "signupBatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMapStringString"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/profile": {
      "get": {
        "tags": ["Admin"],
        "operationId": "getUserProfile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperUserResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Admin"],
        "operationId": "updateUserProfile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PlayerProfileRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperUserResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/delete": {
      "put": {
        "tags": ["Admin"],
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DynamicUserIdentityType" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/user/{id}/lucra-connect": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateLucraConnection_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserLucraRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/update/banner": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateBanner",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBannerRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/performance": {
      "put": {
        "tags": ["Admin"],
        "operationId": "uploadDuprPerformanceChartData",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/S3Object" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/match/{version}/update": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateMatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MatchUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperMatchResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/es/{id}/mapping": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateESIndex",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Admin"],
        "operationId": "reCreateESIndex",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/email/change": {
      "put": {
        "tags": ["Admin"],
        "operationId": "changeEmail",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEmailAdminRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/panel/block": {
      "put": {
        "tags": ["Admin"],
        "operationId": "blockAdminApis",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "flag",
            "in": "query",
            "required": true,
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "boolean" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/match/delete": {
      "put": {
        "tags": ["Admin"],
        "operationId": "bulkDeleteMatches",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["MATCH_CODE", "OBFUSCATED_MATCH_ID", "MATCH_ID"]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/external-id/bulk": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateExternalIdCron",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/S3Object" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/settings": {
      "put": {
        "tags": ["Admin"],
        "operationId": "setClubSettings",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetClubSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Admin"],
        "operationId": "getClubSettings",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClubSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/restrictions": {
      "put": {
        "tags": ["Admin"],
        "operationId": "setClubRestrictions",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetClubRestrictionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Admin"],
        "operationId": "getClubRestrictions",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClubRestrictionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Admin"],
        "operationId": "removeClubRestrictions",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveClubRestrictionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/restrictions/bulk": {
      "put": {
        "tags": ["Admin"],
        "operationId": "bulkSetClubRestrictions",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkSetClubRestrictionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/index": {
      "put": {
        "tags": ["Admin"],
        "operationId": "indexClubs",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/create": {
      "put": {
        "tags": ["Admin"],
        "operationId": "clubCreate",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateClubsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/clubs/create/batch": {
      "put": {
        "tags": ["Admin"],
        "operationId": "createClubsBatch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperString" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/club/{clubId}/revenue": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateClubRevenueModel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClubRevenueModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperRevenueModel"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/{version}/club/{clubId}/currency": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updateClubCurrency",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ClubCurrencyRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/user-subscriptions/{id}": {
      "put": {
        "tags": ["User Subscriptions"],
        "operationId": "updateUserSubscriptions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User Subscriptions"],
        "operationId": "removeUserSubscriptions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        }
      }
    },
    "/admin/subscriptions/shopify/users/tag": {
      "put": {
        "tags": ["Admin"],
        "operationId": "upsertAndTagShopifyCustomers",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Admin"],
        "operationId": "removeTagFromShopifyCustomers",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/rating/{version}/edit": {
      "put": {
        "tags": ["Admin"],
        "operationId": "adjustRating",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdjustRatingRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/match/{version}/save": {
      "put": {
        "tags": ["Admin"],
        "operationId": "saveVerifiedMatch_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MatchRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/marketing/mapCsvToBrazeSegment": {
      "put": {
        "tags": ["Admin"],
        "operationId": "mapCsvToBrazeSegment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": { "type": "string", "format": "binary" }
                },
                "required": ["document"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/event/{version}/{leagueId}/fees": {
      "put": {
        "tags": ["Admin Event"],
        "operationId": "updateLeagueFees",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LeagueFeesRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperLeagueResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/calculated/{version}/stats": {
      "put": {
        "tags": ["Admin"],
        "operationId": "batchCalculatedStatistics",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/S3Object" }
            }
          },
          "required": true
        },
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/admin/calculated/{version}/stats/update": {
      "put": {
        "tags": ["Admin"],
        "operationId": "updatePlayerStatistics",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerStatisticsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/address/{version}/save": {
      "put": {
        "tags": ["Address"],
        "operationId": "saveAddress",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddressRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperIdPayload"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/activity/{version}/user/{feedId}/{postId}": {
      "get": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "getPostDetail",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperPostResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "editPost",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperPostResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "removePost",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/activity/{version}/user/{feedId}/{postId}/react": {
      "put": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "react",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperReaction"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Activity: Newsfeeds for user"],
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The user's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactDeleteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/activity/{version}/club/{feedId}/{postId}": {
      "get": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "getPostDetail_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperPostResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "editPost_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperPostResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "removePost_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/activity/{version}/club/{feedId}/{postId}/react": {
      "put": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "updateComment_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/Wrapper" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "react_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperReaction"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Activity: Newsfeeds for club"],
        "operationId": "deleteComment_1",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "feedId",
            "in": "path",
            "description": "The club's feed Id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReactDeleteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SingleWrapperUnit" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/{version}/logout": {
      "post": {
        "tags": ["User"],
        "operationId": "logout",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LogoutRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/{version}/initialization/bulk": {
      "post": {
        "tags": ["User"],
        "operationId": "getUserInitializationInformationBulk",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["SINGLES", "DOUBLES"] }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserListRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayWrapperPlayerInitializationDataResponse"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/phone/{version}/verify": {
      "post": {
        "tags": ["User"],
        "operationId": "verifyPhoneNumber",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyOtpRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/phone/{version}/resend": {
      "post": {
        "tags": ["User"],
        "operationId": "sendPhoneOTP",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendOtpRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/password/{version}/reset": {
      "post": {
        "tags": ["User"],
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/open/captcha/{version}/verify": {
      "post": {
        "tags": ["User"],
        "operationId": "verifyCaptcha",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/email/{version}/verify": {
      "post": {
        "tags": ["User"],
        "operationId": "verifyEmailAddress",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyEmailRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/email/{version}/resend": {
      "post": {
        "tags": ["User"],
        "operationId": "sendVerificationEmail",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailExistRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/user/email/verify/{version}/initiate": {
      "post": {
        "tags": ["User"],
        "operationId": "sendEmailVerificationLink",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailExistRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Wrapper" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/subscription/track": {
      "post": {
        "tags": ["Subscriptions Controller"],
        "operationId": "trackSuccessfulPayment",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/PaymentReportRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/subscription/manage": {
      "post": {
        "tags": ["Subscriptions Controller"],
        "operationId": "createCustomerPortalSession",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/subscription/checkout/session/status": {
      "post": {
        "tags": ["Subscriptions Controller"],
        "operationId": "getSessionPaymentStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStripeSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/subscription/active": {
      "post": {
        "tags": ["Subscriptions Controller"],
        "operationId": "getSubscriptions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/{version}/subscriptions": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "subscriptionUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/{version}/payment-intent": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "checkoutPaymentIntent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/{version}/invoices": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "invoiceUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/{version}/checkout": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "checkoutUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/{version}/charge": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "chargeUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/account/{version}/updated": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "clubAccountUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/account/{version}/payment-intent": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "checkoutAccountPaymentIntent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/account/{version}/checkout": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "accountCheckoutUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/stripe/account/{version}/charge": {
      "post": {
        "tags": ["Stripe"],
        "operationId": "accountChargeUpdates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stripe-signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/social/{version}/{provider}/delete": {
      "post": {
        "tags": ["Social Media"],
        "operationId": "deleteProviderData",
        "parameters": [
          {
            "name": "version",
[...]
